/***************************************
 * Personnal adaptations & turn around *
 ***************************************/

.leaflet-control-coordinates,
.leaflet-control-geocoder input {
  /* For dark mode */
  color: black;
}

/* Inhibe l'affichage du pavé coordonnées quand il n'y a rien dedans */
.leaflet-control-coordinates:has(span:empty) {
  display: none;
}

/* DCMM FUTUR HORS RESEAU */
/* Préchargement des tuiles */
.leaflet-control-preload button {
  margin-right: 8px;
  padding: 0;
  aspect-ratio: 1;
  font-size: 20px;
  cursor: pointer;
}